<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, ">
    <style>
        .container{
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
        }
        .horizontal-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start; /* Añade esta línea */
            padding: 10px;
            border: 0px solid;
        }
        .container .central{
            flex: 2;
            justify-content: center;
            text-align: right;
            line-height: 75px;
            margin-right: 100px;
            margin-top: 30px;
            border: 0px solid black;
        }
        .container .right {
            width: 220px; /* Ajusta el ancho según sea necesario */
            text-align: left;
            line-height: 200px; /* Centra verticalmente el texto */
            font-size: 18px; /* Ajusta el tamaño del texto */
            border: 0px solid black;
        }
        .horizontal-container .title {
            text-align: center;
            line-height: 75px;
            font-size: 23px;
            font-weight: bold;
            margin-top: -50px;
        }
        .horizontal-container .certifier {
            font-size: 18px;
        }
        .certifier .company {
            flex: 2;
            width: 100%;
            font-size: 15px;
            margin-top: 10px;
            text-align: left;
            border-collapse: collapse;
        }
        .company table, .company th, .company td {
            border: 1px solid; /* Borde normal */
            padding: 3px;
        }
        .course-info {
            margin-left: 90px;;
            font-size: 15px;
            line-height: normal; /* Añade esta línea */
        }
        .course-info table {
            margin-top: 10px;
            width: 100%;
        }
        .course-info .title-info {
            font-weight: bold; /* Hace que el texto en las celdas de encabezado sea negrita */
        }
        .certifier .candidate {
            width: 100%;
            font-size: 15px;
            margin-top: 10px;
            text-align: left;
            border-collapse: collapse;
        }
        .candidate table, .candidate th, .candidate td {
            border: 1px solid; /* Borde normal */
            padding: 4px;
        }
        .certified {
            margin-left: 90px;
            margin-right: 90px;;
            font-size: 15px;
            line-height: normal; /* Añade esta línea */
        }
        .certified p {
            text-align: justify;
        }
        .certified p {
            text-align: justify;
        }
        .validation {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start; /* Añade esta línea */
            background-image: image(data:image/png;base64,{{ watermark }});
            padding: 10px;
            border: 0px solid;
        }
        .sign {
            margin-top: 70px;
        }
        body {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Evita que haya desbordamiento de la imagen */
        }

        .background-img {
            margin-top: 190px; /* Fija la posición de la imagen */
            position: fixed; /* Fija la posición de la imagen */
            width: 100vw; /* Ancho al 100% del viewport */
            height: 57vh; /* Altura al 100% del viewport */
            z-index: -1; /* Coloca la imagen detrás del contenido */
        }
        .qr-code-container {
            position: fixed;
            bottom: 0;
            right: 0;
            margin-bottom: 10px;
        }
        .qr-code {
            width: 70%; /* Ajusta el tamaño según sea necesario */
            height: auto; /* Para mantener la proporción original */
        }
        .page-break {
            page-break-before: always;
        }
        .course-content table {
            width: 60%; /* Establece el ancho de la tabla al 60% de la página */
            margin: 0 auto; /* Centra la tabla horizontalmente */
        }
        .course-content th, .course-content td {
            border: 1px solid; /* Borde normal */
            padding: 3px;
        }
    </style>
</head>
<body>
    <img src="data:image/png;base64,{{ watermark }}" class="background-img" alt="Background Image">
    <div class="container">
        <div class="central">
            <img src="data:image/png;base64,{{ logo-header }}">
        </div>
        <div class="right">
            Serie: OTEC JD-0{{ code }}
        </div>
    </div>
    <div class="horizontal-container">
        <div class="title">
            CERTIFICADO DE ASISTENCIA Y APROBACIÓN
        </div>
        <div class="certifier">
            Sociedad de Capacitacion Jes & Dor Ltda Rut 77.649.050-4, extiende a la empresa:
            <table class="company">
                <thead>
                    <tr>
                    <th>Razón Social</th>
                    <th>R.U.T</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>{{ companyLegalName }}</td>
                    <td>{{ companyRut }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="course-info">
            Certificado Asistencia del siguiente curso:
            <table>
                <tbody>
                    <tr>
                        <td class="title-info">Nombre Curso</td>
                        <td>:</td>
                        <td>{{ courseName }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">Código Curso</td>
                        <td>:</td>
                        <td>{{ courseCode }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">N° de Horas</td>
                        <td>:</td>
                        <td>{{ courseNumberHours }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">Vigencia</td>
                        <td>:</td>
                        <td>{{ validityCourse }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">Fecha Inicio Teórico</td>
                        <td>:</td>
                        <td>{{ theoreticalStartDate }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">Fecha Termino Teórico</td>
                        <td>:</td>
                        <td>{{ theoreticalEndDate }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">Nombre Facilitador Teórico</td>
                        <td>:</td>
                        <td>{{ theoreticalFacilitator }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">Fecha Inicio Práctico</td>
                        <td>:</td>
                        <td>{{ practicalStartDate }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">Fecha Termino Práctico</td>
                        <td>:</td>
                        <td>{{ practicalEndDate }}</td>
                    </tr>
                    <tr>
                        <td class="title-info">Nombre Facilitador Práctico</td>
                        <td>:</td>
                        <td>{{ practicalFacilitator }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="horizontal-container">
        <div class="certifier">
            <table class="candidate">
                <thead>
                    <tr>
                    <th>NOMBRE DEL PARTICIPANTE</th>
                    <th>R.U.T</th>
                    <th>ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>{{ candidateName }}</td>
                    <td>{{ candidateRut }}</td>
                    <td>{{ status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="certified">
            <p>
                Yo, Doris Carreño Rut 11.273.855-k Directora de Otec Sociedad de Capacitación Jes & Dor Ltda.
                Certifico que los datos consignados en el presente Certificado son fidedignos.
            </p>
            <b>Rancagua, {{ approveDate }}.</b>
        </div>
    </div>
    <div class="validation">
        <div class="sign">
            <img src="data:image/png;base64,{{ sign }}">
        </div>
    </div>
    <div class="qr-code-container">
        <img class="qr-code" src="data:image/png;base64,{{ qr }}" alt="Código QR">
    </div>
    {{#if courseContent}}
    <div class="page-break">
        <img src="data:image/png;base64,{{ watermark }}" class="background-img" alt="Background Image">
        <div class="container">
            <div class="central">
                <img src="data:image/png;base64,{{ logo-header }}">
            </div>
            <div class="right">
                Serie: OTEC JD-0{{ code }}
            </div>
        </div>
        <div class="horizontal-container">
            <div class="certifier">
                Contenido del Curso:
                <table class="course-content">
                    <tbody>
                        <tr>
                            <td>Contenido del curso</td>
                            <td align="justify">{{formatText courseContent}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="validation">
            <div class="sign">
                <img src="data:image/png;base64,{{ sign }}">
            </div>
        </div>
    </div>
    {{/if}}
</body>
</html>